::root{
  --title: #5a6067;
}

main{
  background: url('../../images/bg-header-desktop.png');
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4em;
}

.container img{
  margin: 0 auto;
  width: 120px;
}

.container h3{
  font-size: 2.5rem;
  color: var(--title);
  font-weight: bold;
  margin-top: 1em;
}

.container p{
  margin: 0 auto;
  font-size: 18px;
  width: 70%;
  margin-top: 1em;
}

.content_buttons{
  padding: 20px;
}

.btn_one{
  padding: 30px;
}

@media screen and (max-width: 768px){
  main{
    background: url('../../images/bg-header-mobile.png');
    background-position: center;
    background-size: cover;
    padding: 10px;
  }

  .container{
    margin-top: 20em;
    padding: 10px;
  }

  .container h3{
    font-size: 35px;
  }

  .container p{
    width: 100%;
  }
}